.wrapper {
  background-color: var(--background-color-1);
  display: flex;
  flex-direction: column;
  padding: 50px 15%;
  gap: 40px;
}

.header {
  font-size: 40px;
  color: var(--main-text-color);
}

.header::before {
  content: "";
  display: block;
  width: 10%;
  border: 3px solid var(--primary-color);
  border-radius: 10px;
  margin-bottom: 15px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
}

.ul {
  padding-left: 20px;
  font-family: Montserrat;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
