.wrapper {
  background-color: var(--background-color-1);
  display: flex;
  flex-direction: column;
  padding: 30px 15% 50px;
  gap: 40px;
}

.header {
  font-size: 40px;
  color: var(--main-text-color);
}

.header::before {
  content: "";
  display: block;
  width: 10%;
  border: 3px solid var(--primary-text-color);
  border-radius: 10px;
  margin-bottom: 15px;
}

.cardsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 30px 5%;
  }

  .header {
    font-size: 32px;
  }

  .cardsContainer {
    gap: 15px;
  }
}

@media (max-width: 480px) {
  .wrapper {
    padding: 20px 5%;
  }

  .header {
    font-size: 28px;
  }

  .header::before {
    width: 20%;
  }

  .cardsContainer {
    flex-direction: column;
    align-items: center;
  }
}
