.footer {
  display: flex;
  height: 100px;
  background-color: var(--primary-dark-color);
  padding: 20px 15%;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.h2 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
}

.buttons {
  display: flex;
  gap: 10px;
}

.contacts {
  font-weight: 600;
  font-size: 20px;
  color: white;
}

@media (max-width: 768px) {
  .footer {
    padding: 20px 5%;
  }

  .h2 {
    font-size: 20px;
  }

  .contacts {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .footer {
    flex-direction: column;
    height: fit-content;
    gap: 20px;
  }

  .logo {
    width: 30px;
  }

  .h2 {
    font-size: 16px;
  }

  .contacts {
    font-size: 14px;
  }
}
