* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

:root {
  --primary-color: /*#005fcb*/ linear-gradient(
    45deg,
    #2baace 0%,
    #0180ff 100%
  ); /* Основной цвет */
  --primary-text-color: #0180ff;
  --primary-dark-color: linear-gradient(45deg, #2698b8 0%, #0056b3 100%);
  --accent-color: #01ff5e; /* Акцентный цвет */
  --main-text-color: #000000;
  --background-color-1: #e4e4e4; /* Цвет фона */
  --background-color-2: #ffffff; /* Цвет фона */
  --test-color: #c6ffcc;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  scroll-behavior: smooth;
}
