.wrapper {
  background-color: var(--background-color-2);
  display: flex;
  flex-direction: column;
  padding: 30px 15% 50px;
}

.header {
  font-size: 40px;
  color: var(--main-text-color);
  margin-bottom: 40px;
}

.header::before {
  content: "";
  display: block;
  width: 10%;
  border: 3px solid var(--primary-color);
  border-radius: 10px;
  margin-bottom: 15px;
}

.header3 {
  font-size: 26px;
  color: var(--main-text-color);
}

.pricingContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 30px 5%;
  }

  .header {
    font-size: 32px;
  }

  .pricingContainer {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
  }
}

@media (max-width: 480px) {
  .wrapper {
    padding: 20px 5%;
  }

  .header {
    font-size: 28px;
  }

  .header::before {
    width: 20%;
  }

  .pricingContainer {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
