.pricingCard {
  background: white;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.pricingCard:hover {
  transform: scale(1.05);
}

.image {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 8px;
  aspect-ratio: 16/9;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  flex-grow: 1;
}

.title {
  font-size: 18px;
  color: #222;
}

.price {
  font-size: 20px;
  font-weight: 700;
  color: var(--primary-color);
}

.link {
  text-decoration: none;
}

.orderButton {
  background: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  width: 100%;
  text-align: center;
  margin-top: auto;
}

.orderButton:hover {
  background: var(--primary-dark-color);
}

@media (max-width: 1170px) {
  .description {
    font-size: 14px;
  }

  .title {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .pricingCard:hover {
    transform: none;
  }
}

@media (max-width: 480px) {
  .serviceInfo {
    padding: 15px;
  }
}
